# dependencies
node_modules
.pnp
.pnp.js

# production
build
dist

# misc
.env
.DS_Store
*.log
*.pid
client/dist/
ComplexityPipeline/temp_outputs/*
ComplexityPipeline/pipeline/__pycache__/*
ComplexityPipeline/features/*
ComplexityPipeline/complexity_models/__pycache__/*
